.post-container {
  width: 500px;
  margin: 0 auto;

  .post {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;

    & h3, p {
      margin-bottom: 0;
    }

    & p {
      margin-top: 15px;
    }
  }
}

@media (max-width: 768px) {
  .post-container {
    width: 100%;
  }
}
